<%- include('index') %>
<h1 class="text-center">Detail Order</h1>
<ul class="list-group">
  <li class="list-group-item">Paket Wisata: <%= paket %></li>
  <li class="list-group-item">Nama: <%= nama %></li>
  <li class="list-group-item">Email: <%= email %></li>
  <li class="list-group-item">Jumlah Peserta: <%= jumlah %></li>
</ul>
<div class="text-center mt-4">
  <a href="/" class="btn btn-secondary">Kembali ke Beranda</a>
</div>
